.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  margin-block-start: 40px;
}

@media (max-width: 710px) {
  .profile {
    flex-direction: column;
  }
}
