.post__like-button {
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
  background: url('../../../images/like-button.svg') no-repeat center;
  transition: opacity var(--transition-time) ease;
  transition: background-image var(--transition-time) ease;
}

.post__like-button:hover {
  opacity: var(--hover-opacity);
}

.post__like-button:active {
  opacity: 1;
  background-image: url('../../../images/like-button-liked.svg');
}
