.post__like-button {
  min-width: 22px;
  min-height: 22px;
  border: none;
  padding: 0;
  background: url('../../../images/like-button.svg') no-repeat center;
  transition: opacity var(--transition-time) ease;
  transition: background-image var(--transition-time) ease;
  cursor: pointer;
}

.post__like-button:hover {
  opacity: 0.5;
}

.post__like-button:active {
  opacity: 1;
  background-image: url('../../../images/like-button-liked.svg');
}
