.profile__edit-button {
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: opacity var(--transition-time) ease;
  cursor: pointer;
  background: url('../../../images/edit-button.svg') center;
}

.profile__edit-button:hover {
  opacity: var(--hover-opacity);
}

@media (max-width: 440px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
