.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  background: url('../../../images/close-icon.svg');
  background-position: center;
  background-size: contain;
  transition: opacity var(--transition-time) ease;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.8;
}

@media (max-width: 710px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
